@model IEnumerable<MovieDirectorApp.Models.Director>

@{
    ViewBag.Title = "Index";
}

<h2>Directors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

   
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>


@foreach (var item in Model) {
    <div class="panel">
      <p>@Html.DisplayFor(modelItem => item.Name)</p>

        <div>
            <br />
            @Html.ActionLink("Edit", "Edit", new { id=item.DirectorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DirectorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DirectorID })
            </div>
        </div>

}

